@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <div class="jumbotron" style="text-align: center;">
            <h1>Tarea 7 - Nav Bar de BootStrap con Formularios BS</h1>

            <p> <strong>Universidad Católica Nordestana Ucne</strong> </p>
            <br>
            <p style="color:darkblue"> <strong> Esta asignación ha sido realizada por:</strong></p>
            <p>Yerson Escolástico M.</p>
            <p>2016-0497</p>
        </div>
    </div>